extends layout.pug

block content

  article.portfolio-intro

    h1 Let's create great web user experiences, with amazing sites!

    p This is my work! Browse the interactive porjects i have worked on so far, this will give you a in depth view into my skills and design process, when developing enaging user expereinces. Ranging from interactive registration forms, with valdiation to ensure iformation is formated correctly, to search pages or sites to display user information, like a student or employee directory.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`http://localhost:3000/project/${project.id}`  target="_blank")
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5.mt-3.pt-2.border-top.border-3.techTitle= project.project_name

